<nav class="site-nav" aria-label="Primary">
	<ul>
		<li><a href="/" {% if page.url == "/" %}aria-current="page"{% endif %}>Home</a></li>
		<li><a href="/open-education/" {% if page.url == "/open-education/" %}aria-current="page"{% endif %}>Open Education</a></li>
		<li><a href="/research/" {% if page.url == "/research/" %}aria-current="page"{% endif %}>Research</a></li>
<li><a href="/huh/" {% if page.url == "/huh/" %}aria-current="page"{% endif %}>?</a></li>
	</ul>
</nav>
